In [1]:
import pandas as pd
import numpy as np

# Problem 1

Again a no brainer. We are given a list of strings consisting of letter "B" or "F" for the first 7 positions, and "R" and "L" for the last 3. And explained that:
1. Those letters correspond to a code describing ways to eliminate part of the planes by removing half of the remaning places successively
1. The result is the decimal answer of the first 7 positions * 8 + the decimal answer for the last 3

The answer comes then naturally by parsing each "code", replacinf "B" and "R" by binary digit "1", and "F" and "L" by binary digit "0". Answer is the unsigned conversion of that number in decimal.

In [2]:
df = pd.read_csv('input_day_5.txt', header = None) #Load the data
df = df.rename(columns={0: "input"}) # Cosmetic: rename the column loaded
df

          input
0    FBBFFBBLLL
1    FFBFFFBRLL
2    FFBBBBFRRL
3    FBFBBBBRLL
4    BFBBBBFLLR
..          ...
841  BFBBFFFRRL
842  FBFFBBBLRL
843  FBFBBFFLRR
844  FBFFBBFRRL
845  BBFBFFBRLL

[846 rows x 1 columns]

In [3]:
# Let's make a function out of it
def boarding_passes(df):
    binary = df['input'].replace(['F','B','L','R'],['0','1','0','1'],regex=True)
    decimal = binary.apply(lambda x: int(x, 2))
    return decimal

In [4]:
print(boarding_passes(df).max())

858

# Problem 2

In [5]:
bp = boarding_passes(df)
bp = bp.sort_values().reset_index(drop = True).reset_index()
bp['index'] = bp['index'] + 12

In [6]:
bp[bp['index'] != bp['input']] # Tada!

     index  input
545    557    558
546    558    559
547    559    560
548    560    561
549    561    562
..     ...    ...
841    853    854
842    854    855
843    855    856
844    856    857
845    857    858

[301 rows x 2 columns]